.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: #FCDE9C
  }
  
  .profile-header {
    background-color: #ffe4c4;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .edit-profile-button {
    background-color: #f97316;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .user-posts {
    padding: 20px;
    border-radius: 8px;
    flex-direction: column;
    background: white
  }
  
  .post-card {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
  }
  
  .post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    color: #666;
  }
  
  .edit-post-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }